@import "./colors.css";

* {
    border: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
    min-height: 25px;
}

window#waybar {
  background: transparent;
}

.modules-right {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 0 5px;
  opacity: 0.9;
  background: @secondary_container;
  color: @secondary;
}

.modules-center {
  margin-top: 10px;
  border-radius: 8px;
  opacity: 0.9;
  background: @secondary_container;
}

.modules-left {
  margin-top: 10px;
  margin-left: 10px;
  padding: 0 5px;
  border-radius: 8px;
  opacity: 0.9;
  background: @secondary_container;
  color: @secondary;
}


#workspaces button {
    transition: none;
    color: @secondary;
    background: transparent;
    padding: 5px 5px 5px 0px;
}

#workspaces button.active {
    color: @primary;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @primary;
}


#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}

#pulseaudio {
  padding-top: 3px;
}

#network, #battery {
  padding-right: 10px;
}

#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#custom-wallchange {
  padding-right: 10px;
}