@import ".config/wofi/colors.css";

window {
  opacity: 1;
  border:  0px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 18px;
}

#input {
  border-radius: 10px 10px 0px 0px;
  border:  0px;
  padding: 10px;
  margin: 0px;
  font-size: 28px;
  color: @primary;
  background-color: @ternary;
}

#inner-box {
  margin: 0px;
  color: @primary;
  background-color: @ternary;
}

#outer-box {
  margin: 0px;
  background-color: @ternary;
  border-radius: 10px;
}

#selected {
  background-color: @secondary;
}

#entry {
  padding: 0px;
  margin: 0px;
  background-color: @ternary;
}

#scroll {
  margin: 5px;
  background-color: @ternary;
}

#text {
  margin: 0px;
  padding: 2px 2px 2px 10px;
}