@import ".config/wofi/colors.css";

window {
  margin: 0px;
  border: 3px solid @fg;
  border-radius: 5px;
  background-color: @bg;
}
  
#input {
  margin: 5px;
  border: none;
  color: @selection_fg;
  background-color: @selection_bg;
}
  
#inner-box {
  margin: 5px;
  border: none;
  background-color: @bg;
}
  
#outer-box {
  margin: 5px;
  border: none;
  background-color: @bg;
}
  
#scroll {
  margin: 0px;
  border: none;
}
  
#text {
  margin: 5px;
  border: none;
  color: @fg;
} 
  
#entry.activatable #text {
  color: @bg;
}
  
#entry > * {
  color: @fg;
}
  
#entry:selected {
  background-color: @selection_bg;
}
  
#entry:selected #text {
  font-weight: bold;
}